flask
flask_sqlalchemy
flask_cors
werkzeug
numpy==1.23.5
tensorflow==2.13.0
pillow
opencv-python-headless
matplotlib
scikit-learn
huggingface_hub
psycopg2-binary
python-dotenv
setuptools
wheel
gunicorn